/MPSO/nbproject/private/
/MPSO/build/
/claheOpenCV/build/
/claheOpenCV/dist/
/MPSO/dist/
/claheOpenCVJNI/nbproject/private/
/webServiceCpp/build/
/clienteRest/nbproject/private/
/clienteRest/build/
/clienteRest/dist/